/* -------------------------- Global Styles ------------------------------------- */
* {
    box-sizing: border-box;
  }
  
html {
    line-height: 1.4;
}
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
}

li {
    list-style-type: none;
}
ul {
    padding-left: 0;
    margin: 0;
}

.h1 {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
h1 {
    font-size: 2rem;
    display: inline-block;
    margin: 0;
    font-weight: 400;
}
.hero p {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
}
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    padding: 15px 0;
    background-color: pink;
}
h2, h3 {
    text-align: center;
}
.all-projects h3 {
    margin: 0;
    padding-top: 30px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}
img {
    width: 200px;
}
.button-show-tablet {
    display: none;
}
.project {
    background-color: #AEECEF;
}
.h2-headline {
    background-color: white;
}
.ux img {
    padding: 50px 30px;
}
.dots {
    letter-spacing: 12px;
    text-align: center;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 34px;
    display: block;
    border: 0;
  }
  
  .dots:after {
    content: "\B7\B7\B7";
    display: inline-block;
    margin-left: 0.6em;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    top: -18px;
  }
  .line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 36.5px 0;
  }
  #welcome-section {
      height: 100vh;
      padding-top: 20px;
      display: flex;
  }

  .showHide {
      display: none;
  }

  .responsiveSection {
    display: block;
}
.my-story {
    background-color: pink;
}
.space-for-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: #DEF4F7;
}

.space-for-header {
    height: 73px;
}
.light {
    background-color: #AEECEF;
}
.dark {
    background-color: #17BEBB;
}
.paragraphs {
    padding: 0 30px;
}
/* -------------------------- Global Styles - Links and Buttons ------------------------------------- */

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: #6900BB;
}
.menu-items a {
    font-size: 1.15rem;
    color: #6900BB;
}
.button {
    height: 50px;
    border-radius: 50px;
    border: 3px solid #6900BB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.button a {
    text-transform: uppercase;
}
.button-purple {
    background-color: #6900BB;
}
.button-purple a {
    color: white;
}

.button-large {
    width: 260px;
}
.button-light {
    background-color: white;
}
.button-light a {
    color: #6900BB;
}
.button-small {
    width: 140px;
}
.single-button {
    width: 220px;
}
.button-section {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.button-large p {
    text-transform: uppercase;
    margin: 0;
}

.two-buttons {
    display: flex;
    padding-bottom: 30px;
}

.button-center {
    display: flex;
    justify-content: center;
    width: 50%;
}
.expand-button-padding {
    padding: 30px 0;
}

.button-center {
    width: 100%;
}
.button-spacing {
    padding: 20px 0 73px 0;
}
/* -------------------------- Header ------------------------------------- */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 3px solid rgba(0, 0, 0, 0.54);
}
.logo-section {
    margin: 0 auto;
}
.display-none-mobile {
    display: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}
.menu-items {
    width: 100%;
}
.menu {
    padding: 20px 0 20px 0;
}
.menu-items li {
    padding: 20px 0 15px;
}
.menu-items li:not(:last-child) {
    border-bottom: 1px solid red;
}
.navtoggle.responsive .display-none-mobile {
    display: block;
}

/* -------------------------- Main ------------------------------------- */
.hero {
    background-color: #17BEBB;
    
}


.headline p {
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    margin: 0vw 0;
    text-align: center;
}
.comma {
    color: red;
    /* font-size: 5rem; */
}
.hero-text {
    font-family: 'Oxygen', sans-serif;
    display: block;
    color: yellow;
    font-size: 1.3rem;
    margin: 10px 0 0 0;
    text-align: center;
}
picture {
    display: flex;
    justify-content: center;
}
.my-story img {
    width: 50%;
    margin: 30px;
}
.first-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
}
.flex-row-center {
    display: flex;
    justify-content: center;
}


/* -------------------------- Footer ------------------------------------- */  
footer {
    background-color: white;
    border-top: 3px solid rgba(0, 0, 0, 0.54);
    background-color: orange;
}
footer .fab {
    color: blue;
}
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-media {
    width: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.social-media ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer p {
    text-align: center;
}
.copyright {
    width: 290px;
    border-top: 1px dashed rgba(0, 0, 0, 0.54);
}
#no-background {
    background-color: none;
}
/* -------------------------- Media Queries ------------------------------------- */
@media only screen and (min-width: 400px) {
    .all-projects img {
        width: 370px
    }
    img {
        width: 100%;
    }
    .hero p {
        margin: 10px 0;
    }
    .hero-text {
        padding: 0 30px;
    }
}

@media only screen and (min-width: 520px) {
    img {
        width: 400px;
    }
}

@media only screen and (min-width: 640px) {
    .all-projects img {
        width: 100%;
    }
    .hero {
        background-color: #17BEBB;
    }
    .space-for-header {
        height: 93px;
    }
    .button-spacing {
        padding: 20px 0 93px 0;
    }
    .menu {
        display: none;
    }

    .menu-items li:not(:last-child) {
        border-bottom: none;
    }
    

    .logo-section {
        margin: 0 0;
    }

    header {
        padding: 15px 0;
        background-color: orange;
    }
    .menu-items {
        width: 50%;
        display: inline-block;
    }
    .menu-items ul {
        display: flex;
        justify-content: space-between;
    }
    .hero .display-none-mobile {
        display: block;
        text-align: center;
        padding: 30px 15px;
        text-align: justify;
    }

    .button-small {
        width: 200px;
    }
    .button-large {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.05rem;
    }
    .hero {
        background-color: #17BEBB;
        padding: 50px 0;
    }
    picture {
        display: block;
    }
    
    img {
        width: 100%;
    }
 
    .column-flex {
        display: flex;
    }
   
    .column{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    picture {
        display: flex;
        justify-content: center;
    }
    .button-section {
       display: none;
    }
    .button-show-tablet {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .display-none-mobile {
        display: block;
    }
    .no-show-tablet {
        display: none;
    }

    .button-small {
        width: 240px;
        height: 55px;
    }
    .button-large {
        height: 55px;
        width: 320px;
    }
    .my-story img {
        width: 369px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.15rem;
    }
}