/* -------------------------- Global Styles ------------------------------------- */
* {
    box-sizing: border-box;
  }
  
html {
    line-height: 1.4;
}
body {
    background-color: pink;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
main {
    padding-top: 90px;
}
.container {
    max-width: 1200px;
}

li {
    list-style-type: none;
}
ul {
    padding-left: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
}
h2, h3 {
    text-align: center;
}


.container {
    padding: 0 15px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.button-show-tablet {
    display: none;
}
.project {
    background-color: paleturquoise;
}

/* -------------------------- Global Styles - Links and Buttons ------------------------------------- */

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: #6900BB;
}
.menu-items a {
    font-size: 1.15rem;
    color: #6900BB;
}
.button {
    height: 50px;
    border-radius: 50px;
    border: 3px solid #6900BB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.button a {
    text-transform: uppercase;
}
.button-purple {
    background-color: #6900BB;
}
.button-purple a {
    color: white;
}

.button-large {
    width: 260px;
}
.button-light {
    background-color: white;
}
.button-light a {
    color: #6900BB;
}
.button-small {
    width: 140px;
}
.button-section {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

/* .button-large {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #6900BB;;
    background-color: #6900BB;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.button-large p {
    text-transform: uppercase;
    margin: 0;
}
/* .button {
    width: 140px;
    height: 50px;
    background-color: #6900BB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .button a {
    color: white;
    text-transform: uppercase;
    font-size: 1.03rem;
    font-weight: 600;
} */
.two-buttons {
    display: flex;
    padding-bottom: 30px;
}

.button-center {
    display: flex;
    justify-content: center;
    width: 50%;
}
.expand-button-padding {
    padding-bottom: 30px;
}
/* .expand-button {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
} */
/* .light-button {
    background-color: white;
    border: 3px solid #6900BB;
} */
/* .light-button a {
    color: #6900BB;
} */
.button-center {
    width: 100%;
}
/* -------------------------- Header ------------------------------------- */
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.logo-section {
    margin: 0 auto;
}
.display-none-mobile {
    display: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}
.menu-items {
    width: 100%;
}
.menu {
    padding: 20px 0 20px 0;
}
.menu-items li {
    padding: 20px 0 15px;
}
.menu-items li:not(:last-child) {
    border-bottom: 1px solid red;
}
.navtoggle.responsive .display-none-mobile {
    display: block;
}

/* -------------------------- Main ------------------------------------- */
.hero {
    background-color: turquoise;
}


.headline p {
    font-size: 8vw;
    font-family: 'Oxygen', sans-serif;
    margin: 0vw 0;
    text-align: center;
}
.comma {
    color: red;
    font-size: 5rem;
}
.hero-text {
    font-family: 'Oxygen', sans-serif;
    display: block;
    color: yellow;
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    text-align: center;
    padding: 0 15px;
}
picture {
    display: flex;
    justify-content: center;
}


/* -------------------------- Footer ------------------------------------- */  





/* -------------------------- Media Queries ------------------------------------- */
@media only screen and (min-width: 640px) {
    .hero {
        background-color: red;
    }

    .menu {
        display: none;
    }

    .menu-items li:not(:last-child) {
        border-bottom: none;
    }
    

    .logo-section {
        margin: 0 0;
    }

    header {
        padding: 15px 0;
        
    }
    .menu-items {
        width: 50%;
        display: inline-block;
    }
    .menu-items ul {
        display: flex;
        justify-content: space-between;
    }
    .hero .display-none-mobile {
        display: block;
        text-align: center;
        padding: 0 15px;
        text-align: justify;
    }

    /* .button {
        width: 200px;
        height: 50px;
        background-color: #6900BB;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .button-small {
        width: 200px;
    }
    .button-large {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.05rem;
    }
    .hero {
        background-color: lightseagreen;
        padding-top: 50px;
    }
    picture {
        display: block;
    }
 
    .column-flex {
        display: flex;
    }
   
    .column{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headline p {
        font-size: 2.7rem;
    }
    picture {
        display: flex;
        justify-content: center;
    }
    .button-section {
       display: none;
    }
    .button-show-tablet {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .display-none-mobile {
        display: block;
    }
    .no-show-tablet {
        display: none;
    }
    /* .button {
        width: 240px;
        height: 55px;
        background-color: #6900BB;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .button-small {
        width: 240px;
        height: 55px;
    }
    .button-large {
        height: 55px;
        width: 320px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.15rem;
    }
}