/* -------------------------- Global Styles ------------------------------------- */

body {
    background-color: pink;
}

li {
    list-style-type: none;
}
ul {
    padding-left: 0;
    margin: 0;
}

h1 {
    margin: 0;
}


/* -------------------------- Global Styles - Links and Buttons ------------------------------------- */

a {
    text-decoration: none;
}


/* -------------------------- Header ------------------------------------- */
header {
    background-color: white;
}

/* -------------------------- Main ------------------------------------- */


/* -------------------------- Footer ------------------------------------- */




/* -------------------------- Media Queries ------------------------------------- */